@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-nunito-sans);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-nunito-sans);
}


.title {
  color: #1f2937; /* gray-800 */
  font-size: 1.875rem; /* text-3xl */
  font-weight: 700;
}

.subtitle {
  color: #2563eb; /* blue-600 */
  font-size: 1.125rem; /* text-lg */
}
